@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Song+Myung&family=Yeseva+One&display=swap");

.inner {
  max-width: 80%;
  margin-left: 14%;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.section1,
.section6 {
  width: 100%;
  height: 100vh;
  background: #111;
  color: #fff;
}

.section4 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section4 .pin-wrap > div {
  min-width: 60vw;
}
.section5 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section5 .pin-wrap > div {
  min-width: 60vw;
}
