/* /////////////// header /////////////// */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 999999;
  a {
    color: white;
    font-weight: bold;
    opacity: 0.5;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  .navbar_logo {
    font-size: 24px;
    color: white;
    a {
      opacity: 1;
    }
  }
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li {
  padding: 8px 12px;
  &:hover {
    background-color: #d49466;
    border-radius: 4px;
  }
}
.navbar_icons {
  list-style: none;
  color: white;
  display: none;
  padding-left: 0;
  li {
    padding: 8px 12px;
  }
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

#main {
  overflow-y: scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

#main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* /////////////// section1 /////////////// */
.section1 {
  width: 100%;
  height: 100vh;
  background: $mainColor1;
}

.sec1_text {
  position: relative;
  height: 100vh;
}
.sec1_text_wrap {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.sec1_text h1 {
  height: 40%;
  padding: 1vw;
  text-align: center;
  font-size: 7vw;
  font-family: "SBAggroB";
  font-weight: bold;
  text-shadow: 5px 5px 0px #e4b7a9, 10px 10px 0px #ab8475, 15px 15px 0px #795548;
  color: #f7f7f7;
}
.sec1_text em span {
  display: inline-block;
}
.sec1_text p {
  font-size: 3vw;
  font-weight: bold;
  color: #ffffff;
}
.sec1_text p span {
  display: block;
}
.sec1_text strong {
  font-size: 3vw;
  color: #b99e56;
  font-family: "Saint Monica";
}

/* /////////////// section2 /////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: $mainColor1;
  padding: 20px;
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pin-wrap > div {
    min-width: 100vw;
  }
  .section2_wrap {
    background-color: $mainColor2;
    padding: 30px;
    .section2_aboutme {
      display: flex;
      justify-content: center;
      h1 {
        color: $mainColor1;
        font: {
          size: 100px;
          weight: bold;
          family: "Abril Fatface", cursive;
        }
      }
    }
    .section2_introduce {
      position: relative;
      border: 5px solid $mainColor1;
      padding: 10px;
      width: 95%;
      .introduce_name {
        margin-bottom: 30px;
        display: grid;
        color: $mainColor1;
        font: {
          weight: bold;
          family: "Abril Fatface", cursive;
        }
        .item1 {
          grid-column: 1 / 6;
          background-color: $mainColor1;
        }
        .item2 {
          grid-column: 2 / span 4;
          border: 2px solid $mainColor1;
          border-bottom: 1px solid $mainColor1;
          border-left: 1px solid $mainColor1;
          padding: 20px;
          font-size: 30px;
        }
        .item3 {
          grid-column: 2 / span 4;
          border: 2px solid $mainColor1;
          border-left: 1px solid $mainColor1;
          padding: 20px;
          font-size: 30px;
        }
        .item4 {
          grid-row: 2 / 6;
          background-color: $mainColor2;
          color: $mainColor1;
          border: 2px solid $mainColor1;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 60px;
          letter-spacing: 10px;
        }
        p {
          background-color: $mainColor1;
          height: 30px;
        }
      }
      .introduce_about {
        border: 1px solid $mainColor1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .item1 {
          grid-column-end: span 2;
          background-color: #ab8475;
        }
        .item2 {
          background-color: #5b2510;
          grid-row: 2 / 4;
        }
        .item3 {
          background-color: #105b19;
        }
        .item4 {
          background-color: #4b1db6;
        }
        .item5 {
          background-color: #e0c10d;
        }
        .item6 {
          background-color: #e096b1;
        }
      }
    }
  }
}
/* /////////////// section3 /////////////// */
// .section3 {
//   width: 100%;
//   height: 100vh;
//   background: rgb(7, 76, 99);
// }
.section3 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #0037ff;
}
.section3 .pin-wrap > div {
  min-width: 70vw;
}

/* /////////////// section4 /////////////// */
.section4 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(116, 48, 233);
}
.section4 .pin-wrap > div {
  min-width: 60vw;
}

/* /////////////// section5 /////////////// */
.section5 {
  width: 100%;
  height: 100vh;
  background: rgb(7, 76, 99);
}

/* /////////////// section6 /////////////// */
.section6 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section6 .pin-wrap > div {
  min-width: 60vw;
}

/* /////////////// section7 /////////////// */
.section7 {
  width: 100%;
  height: 100vh;
  background: rgb(41, 41, 41);
  color: #fff;
}
