/* background */
body {
  background-color: $mainColor1;
}
#section1 {
  z-index: 1000;
  background-color: $mainColor1;
}

/* header */
#header {
  width: 96%;
  height: 60px;
  z-index: 5000;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 2%;
  top: 25px;
  border: 1px solid darken($mainColor1, 10%);
  backdrop-filter: blur(5px);
  animation: header 0.7s ease-in-out forwards;
  animation-delay: 0.7s;
}
#logo span {
  width: 65px;
  padding: 7px;
  margin: 12px;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #fff;
  opacity: 0;
  animation: logo 2s forwards;
  animation-delay: 2.5s;
}

#header.active #logo span {
  color: #000;
  border: 5px solid #000;
}
#header.active .nav li a {
  color: #000;
}
#header.active .nav li a span {
  color: #999;
}
#header.active .ham span {
  background: #000;
}

@keyframes header {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#nav {
  margin-right: 4vw;
}
.nav li {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.nav li + li {
  margin-left: 3vw;
}
.nav li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.nav li a span {
  display: block;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  color: #e9e9e9;
}
.nav li a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: $mainColor3;
  transition: width 0.5s;
}
.nav li:hover a {
  color: $mainColor3;
}
.nav li:hover a::after {
  width: 100%;
}

#mNav {
  width: 100%;
  height: 0;
  z-index: 3000;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  transition: height 1s;
}
.ham {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 5vw;
  top: 25px;
  z-index: 10000;
  cursor: pointer;
}
.ham span {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: #fff;
  transition: 0.7s;
}
.ham span:nth-child(1) {
  top: 0;
}
.ham span:nth-child(2) {
  top: 9px;
}
.ham span:nth-child(3) {
  top: 18px;
}
.mNav_cont {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: $mainColor1;
  transition: 1s;
}

#mNav.active {
  height: 100vh;
}
#mNav.active .mNav_cont {
  top: 0;
}
#mNav.active .ham span {
  background: #fff;
}
#mNav.active .ham span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}
#mNav.active .ham span:nth-child(2) {
  display: none;
}
#mNav.active .ham span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.mNav_cont nav {
  margin-bottom: 30px;
}
.mNav_cont li a {
  font-size: 5vw;
  font-weight: 800;
  line-height: 1.8;
  text-transform: capitalize;
  transition: all 0.3s;
}
.mList li {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 50%;
  a {
    font-size: 4vw;
    line-height: 40px;
  }
}
.mList li:nth-child(3) a {
  font-size: 3.5vw;
}
.mNav_cont li a:hover {
  color: skyblue;
  text-decoration: underline;
}
.mList li:hover {
  background-color: skyblue;
}
.mList li:hover a {
  color: #000;
}

/* section1 */

.sec1 {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .scroll {
    display: none;
  }
}
.text h2 {
  font-size: 7vw;
  line-height: 1.2;
  color: #fff;
  strong {
    display: block;
    font-weight: 900;
    color: $mainColor3;
  }
  em {
    font-weight: 100;
  }
  .split span {
    opacity: 0;
    display: inline-block;
    min-width: 1vw;
    transform: translateY(30px);
  }
}

.text p {
  padding-top: 30px;
  line-height: 2;
  color: #fff;
  word-wrap: break-word;
  opacity: 0;
  animation: textup 1s ease-in-out forwards;
  animation-delay: 5s;
}
@keyframes textup {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@mixin border {
  border: 2px solid $mainColor1;
  border-top: 0;
  border-left: 0;
}

/* /////////////// section2 /////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: $mainColor1;
  padding: 20px;
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pin-wrap > div {
    min-width: 100vw;
  }
  .section2_wrap {
    position: relative;
    background-color: $mainColor2;
    padding: 30px;
    .section2_aboutme {
      display: flex;
      justify-content: center;
      h1 {
        color: $mainColor1;
        font: {
          size: 100px;
          weight: bold;
          family: "Abril Fatface", cursive;
        }
      }
      .abouticon {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .section2_introduce {
      position: relative;
      border: 5px solid $mainColor1;
      padding: 10px;
      width: 95%;
      .introduce_name {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1;
        color: $mainColor1;
        font: {
          weight: bold;
          family: "Abril Fatface", cursive;
        }
        .item1 {
          grid-column: 2;
          border: 2px solid $mainColor1;
          border-bottom: 0;
          border-left: 0;
          padding: 10px;
          font-size: 28px;
        }
        .item2 {
          grid-column: 2;
          border: 2px solid $mainColor1;
          border-left: 0;
          padding: 10px;
          font-size: 28px;
        }
        .item3 {
          grid-row: 1 / span 2;
          background-color: $mainColor2;
          color: $mainColor1;
          border: 2px solid $mainColor1;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 48px;
          letter-spacing: 10px;
        }
        p {
          background-color: $mainColor1;
          height: 20px;
        }
      }
      .introduce_about {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .item {
          padding: 15px;
          color: $mainColor1;
          h4 {
            font: {
              size: 18px;
              weight: bold;
            }
          }
          p {
            font-size: 15px;
            margin-top: 10px;
          }
        }
        .item1 {
          grid-column-end: span 3;
          background-color: $mainColor1;
          color: $mainColor3;
          display: flex;
          align-items: center;
          letter-spacing: 3px;
          font-family: "Abril Fatface", cursive;
          padding: 10px;
          p {
            white-space: nowrap;
            overflow: hidden;
            font-size: 38px;
            width: 30em;
            animation: type 6s steps(60, end);
            animation-iteration-count: infinite;
          }
          @keyframes type {
            from {
              width: 0;
            }
          }
        }
        .item2 {
          grid-row: 1 / 4;
          border: 2px solid $mainColor1;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          img {
            width: 70%;
          }
        }
        .item3 {
          @include border();
          p {
            font: {
              size: 16px;
              weight: bold;
            }
            span {
              width: 65px;
              display: inline-block;
              opacity: 0.7;
            }
          }
        }
        .item4 {
          grid-column-end: span 2;
          background-color: #80c7fe;
          background: url(/assets/img/sky.JPG);
          background-position: center;
          @include border();
        }
        .item5 {
          @include border();
        }
        .item6 {
          @include border();
        }
        .item7 {
          @include border();
        }
        .item8 {
          border: 2px solid $mainColor1;
          border-top: 0;
        }
        .item9 {
          @include border();
        }
        .item10 {
          @include border();
        }
        .item11 {
          @include border();
        }
      }
    }
  }
}

/* /////////////// section3 /////////////// */
.section3 {
  background-color: $mainColor2;
}
.section3 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section3 .pin-wrap > div {
  min-width: 80vw;
}
.works_title {
  border: 1px solid red;
  max-width: 50vw;
  padding: 0 0 0 7vw;
  .works_text {
    h2 {
      color: $mainColor3;
      font-size: 80px;
    }
  }
  .works_start {
  }
}
.works_contents {
  display: flex;
  .work {
    width: 28%;
    margin: 0 5%;
    border: 2px solid $mainColor1;
    .work_site {
      padding: 0.5vh;
    }
  }
  .work1 {
  }
  .work2 {
  }
  .work3 {
  }
}

/* /////////////// section4 /////////////// */
#section4 {
  background: $mainColor1;
  overflow: hidden;
}
.section4 {
  position: relative;
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .div {
    position: fixed;
    z-index: 100;
    left: 10%;
    top: 50%;
  }
  .section4_title {
    position: absolute;
    top: 20%;
    left: 2%;
    font: {
      size: 6vw;
      weight: bold;
      family: "Abril Fatface", cursive;
    }
    color: white;
  }

  .box {
    position: relative;
    width: 400px;
    height: 240px;
    margin: 0 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: $mainColor1;
    border-radius: 2px;
    transition: all 0.4s;
    box-shadow: 5px 5px white;
    cursor: pointer;
    h1 {
      font-size: 50px;
      text-align: center;
    }
    img {
      height: 236px;
      object-fit: cover;
    }
  }

  .box_wrapper {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
  }
}
.section4 .pin-wrap > div {
  min-width: 90vw;
}
.click {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $mainColor2;
  color: $mainColor1;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(0);
    opacity: 1;
  }
}

// 모달창

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* /////////////// section6 /////////////// */
.section6 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $mainColor2;
  color: $mainColor1;
}

/* text_row */
.text_row {
  width: 100vw;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  .text_inner {
    animation: textLoop 20s linear infinite;
    .text {
      display: inline-block;
      font: {
        size: 5rem;
        family: "Abril Fatface", cursive;
      }
    }
  }
}
.text_row:hover > .text_inner {
  animation-play-state: paused;
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-start {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
