/* background */
body {
  background-color: $mainColor1;
}
#section1 {
  z-index: 1000;
  background-color: $mainColor1;
}

/* header */
#header {
  width: 96%;
  height: 60px;
  z-index: 5000;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 2%;
  top: 25px;
  border: 1px solid darken($mainColor1, 10%);
  backdrop-filter: blur(5px);
  animation: header 0.7s ease-in-out forwards;
  animation-delay: 0.7s;
}
#logo span {
  width: 65px;
  padding: 7px;
  margin: 12px;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #fff;
  opacity: 0;
  animation: logo 2s forwards;
  animation-delay: 2.5s;
}

#header.active #logo span {
  color: #000;
  border: 5px solid #000;
}
#header.active .nav li a {
  color: #000;
}
#header.active .nav li a span {
  color: #999;
}
#header.active .ham span {
  background: #000;
}

@keyframes header {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#nav {
  margin-right: 4vw;
}
.nav li {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.nav li + li {
  margin-left: 3vw;
}
.nav li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.nav li a span {
  display: block;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  color: #e9e9e9;
}
.nav li a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: $mainColor3;
  transition: width 0.5s;
}
.nav li:hover a {
  color: $mainColor3;
}
.nav li:hover a::after {
  width: 100%;
}

#mNav {
  width: 100%;
  height: 0;
  z-index: 3000;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  transition: height 1s;
}
.ham {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 5vw;
  top: 25px;
  z-index: 10000;
  cursor: pointer;
}
.ham span {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: #fff;
  transition: 0.7s;
}
.ham span:nth-child(1) {
  top: 0;
}
.ham span:nth-child(2) {
  top: 9px;
}
.ham span:nth-child(3) {
  top: 18px;
}
.mNav_cont {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: $mainColor1;
  transition: 1s;
}

#mNav.active {
  height: 100vh;
}
#mNav.active .mNav_cont {
  top: 0;
}
#mNav.active .ham span {
  background: #fff;
}
#mNav.active .ham span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}
#mNav.active .ham span:nth-child(2) {
  display: none;
}
#mNav.active .ham span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.mNav_cont nav {
  margin-bottom: 30px;
}
.mNav_cont li a {
  font-size: 5vw;
  font-weight: 800;
  line-height: 1.8;
  text-transform: capitalize;
  transition: all 0.3s;
}
.mList li {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 50%;
  a {
    font-size: 4vw;
    line-height: 40px;
  }
}
.mList li:nth-child(3) a {
  font-size: 3.5vw;
}
.mNav_cont li a:hover {
  color: skyblue;
  text-decoration: underline;
}
.mList li:hover {
  background-color: skyblue;
}
.mList li:hover a {
  color: #000;
}

/* section1 */

.sec1 {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .scroll {
    display: none;
  }
}
.text h2 {
  font-size: 7vw;
  line-height: 1.2;
  color: #fff;
  strong {
    display: block;
    font-weight: 900;
    color: $mainColor3;
  }
  em {
    font-weight: 100;
  }
  .split span {
    opacity: 0;
    display: inline-block;
    min-width: 1vw;
    transform: translateY(30px);
  }
}

.text p {
  padding-top: 30px;
  line-height: 2;
  color: #fff;
  word-wrap: break-word;
  opacity: 0;
  animation: textup 1s ease-in-out forwards;
  animation-delay: 5s;
}
@keyframes textup {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@mixin border {
  border: 2px solid $mainColor1;
  border-top: 0;
  border-left: 0;
}

/* /////////////// section2 /////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: $mainColor1;
  padding: 20px;
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pin-wrap > div {
    min-width: 100vw;
  }
  .section2_wrap {
    position: relative;
    background-color: $mainColor2;
    padding: 30px;
    .section2_aboutme {
      display: flex;
      justify-content: center;
      h1 {
        color: $mainColor1;
        font: {
          size: 100px;
          weight: bold;
          family: "Abril Fatface", cursive;
        }
      }
      .abouticon {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .section2_introduce {
      position: relative;
      border: 5px solid $mainColor1;
      padding: 10px;
      width: 95%;
      .introduce_name {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1;
        color: $mainColor1;
        font: {
          weight: bold;
          family: "Abril Fatface", cursive;
        }
        .item1 {
          grid-column: 2;
          border: 2px solid $mainColor1;
          border-bottom: 0;
          border-left: 0;
          padding: 10px;
          font-size: 28px;
        }
        .item2 {
          grid-column: 2;
          border: 2px solid $mainColor1;
          border-left: 0;
          padding: 10px;
          font-size: 28px;
        }
        .item3 {
          grid-row: 1 / span 2;
          background-color: $mainColor2;
          color: $mainColor1;
          border: 2px solid $mainColor1;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 48px;
          letter-spacing: 10px;
        }
        p {
          background-color: $mainColor1;
          height: 20px;
        }
      }
      .introduce_about {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .item {
          padding: 15px;
          color: $mainColor1;
          h4 {
            font: {
              size: 18px;
              weight: bold;
            }
          }
          p {
            font-size: 15px;
            margin-top: 10px;
            line-height: 1.2;
          }
        }
        .item1 {
          grid-column-end: span 3;
          background-color: $mainColor1;
          color: $mainColor3;
          display: flex;
          align-items: center;
          letter-spacing: 3px;
          font-family: "Abril Fatface", cursive;
          padding: 10px;
          p {
            white-space: nowrap;
            overflow: hidden;
            font-size: 38px;
            width: 30em;
            animation: type 6s steps(60, end);
            animation-iteration-count: infinite;
          }
          @keyframes type {
            from {
              width: 0;
            }
          }
        }
        .item2 {
          grid-row: 1 / 4;
          border: 2px solid $mainColor1;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          img {
            width: 70%;
          }
        }
        .item3 {
          @include border();
          h4 {
            margin-top: 10px;
          }
          p {
            margin-top: 15px;
            font: {
              size: 16px;
              weight: bold;
            }
            span {
              font-size: 13px;
              width: 50px;
              display: inline-block;
              opacity: 0.7;
            }
          }
        }
        .item4 {
          grid-column-end: span 2;
          // background-color: #80c7fe;
          background-image: url("/assets/img/sky.JPG");
          background-position: center;
          @include border();
        }
        .item5 {
          @include border();
        }
        .item6 {
          @include border();
        }
        .item7 {
          @include border();
        }
        .item8 {
          border: 2px solid $mainColor1;
          border-top: 0;
        }
        .item9 {
          @include border();
        }
        .item10 {
          @include border();
        }
        .item11 {
          @include border();
        }
      }
    }
  }
}

/* /////////////// section3 /////////////// */
.section3 {
  background-color: $mainColor2;
  padding: 4vw;
}
// .section3 .pin-wrap {
//   height: 100vh;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }
// .section3 .pin-wrap > div {
//   min-width: 80vw;
// }
.works_title {
  max-width: 50vw;
  padding: 0 0 0 7vw;
  .works_text {
    h2 {
      color: $mainColor1;
      font-size: 80px;
      line-height: 1.2;
    }
  }
  .works_start {
    p {
      margin-top: 30px;
      color: $textColor1;
      line-height: 1.3;
    }
  }
}
.works_contents {
  position: relative;
  display: flex;
  flex-direction: column;
  .work {
    width: 32%;
    .work_site {
      padding: 0.5vh;
    }
  }
  .work1 {
  }
  .work2 {
  }
  .work3 {
  }
}
.slideinleft {
  margin-left: -700px;
}

/* /////////////// section4 /////////////// */
#section4 {
  background: $mainColor1;
  overflow: hidden;
}
.section4 {
  position: relative;
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .div {
    position: fixed;
    z-index: 100;
    left: 10%;
    top: 50%;
  }
  .section4_title {
    position: absolute;
    top: 20%;
    left: 2%;
    font: {
      size: 6vw;
      weight: bold;
      family: "Abril Fatface", cursive;
    }
    color: white;
  }

  .box {
    position: relative;
    width: 400px;
    height: 240px;
    margin: 0 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: $mainColor1;
    border-radius: 2px;
    transition: all 0.4s;
    box-shadow: 5px 5px white;
    cursor: pointer;
    h1 {
      font-size: 50px;
      text-align: center;
    }
    img {
      height: 236px;
      object-fit: cover;
    }
  }

  .box_wrapper {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
  }
}
.section4 .pin-wrap > div {
  min-width: 90vw;
}
.click {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $mainColor2;
  color: $mainColor1;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(0);
    opacity: 1;
  }
}

// 모달창

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60%; /* Could be more or less, depending on screen size */
  color: $textColor1;
  border-radius: 3px;
  h3 {
    color: $mainColor1;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  p {
    margin-top: 10px;
    text-transform: uppercase;
    span {
      display: inline-block;
      // background-color: $mainColor1;
      color: black;
      padding: 7px;
      border-radius: 3px;
      margin-right: 10px;
    }
  }
  .click_button {
    display: flex;
    justify-content: space-between;
    button {
      width: 49%;
      text-align: center;
      background-color: $mainColor1;
      color: white;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 3px;
    }
  }
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* /////////////// section5 /////////////// */

.section5 {
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .section5_project {
    display: flex;
    justify-content: center;
    h1 {
      color: $mainColor2;
      font: {
        size: 100px;
        weight: bold;
        family: "Abril Fatface", cursive;
      }
    }
  }
}
.section5 .pin-wrap > div {
  min-width: 80vw;
}
#project_wrap {
  display: flex;
  height: 80vh;
  margin-top: 100px;
}
.project_wrap {
  display: flex;
  width: 90vw;
  margin-right: 3vw;
  .project_img {
    width: 55%;
    border: 2px solid $mainColor2;
    margin: 0rem 0.2rem 0rem 0rem;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .project_desc {
    width: 45%;
    border: 2px solid $mainColor2;
    background-color: $mainColor1;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 0.2rem;
    padding: 3%;
    h3 {
      font-size: 2rem;
      font-weight: 900;
      color: $mainColor3;
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
      padding: 10px 0;
      margin: 1rem 0;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
    }
    span {
      font: {
        size: 1rem;
        weight: 100;
      }
      line-height: 1.8;
    }
    .project_btn {
      margin-top: 5rem;
      button {
        width: 30%;
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        text-transform: capitalize;
        background-color: $mainColor1;
        border: 2px solid white;
        box-shadow: 3px -3px white;
        a {
          color: white;
        }
        &:nth-child(1) {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: 10px;
        }
      }
    }
  }
}

/* /////////////// section6 /////////////// */
.section6 {
  width: 100%;
  height: 100vh;
  padding: 120px 25px;
  position: relative;
  background: $mainColor2;
  color: $mainColor1;
  .section6_title {
    font: {
      size: 6vw;
      weight: bold;
      family: "Abril Fatface", cursive;
    }
  }
}

.contact {
  .contact_me {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
  }
  .contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    h4 {
      font: {
        size: 3rem;
        family: "Abril Fatface", cursive;
      }
    }
    p {
      font-size: 1.5rem;
      margin-top: 30px;
    }
  }
}

figure.snip1436 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 180px;
  max-width: 320px;
  width: 100%;
  color: $textColor1;
  text-align: left;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: inherit;
}
figure.snip1436 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1436 img {
  max-width: 200px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  backface-visibility: hidden;
}
figure.snip1436 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: scale(0.5) translate(0%, -50%);
  transform: scale(0.5) translate(0%, -50%);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 1;
  opacity: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure.snip1436 h3,
figure.snip1436 p {
  line-height: 1.5em;
  text-align: center;
}
figure.snip1436 h3 {
  font-size: 1.2em;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.snip1436 p {
  font-size: 1em;
  font-weight: 500;
  margin: 20px 0 15px;
}
figure.snip1436 .read-more {
  border: 2px solid $mainColor1;
  padding: 0.5em 1em;
  font-size: 1em;
  text-decoration: none;
  color: $mainColor1;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
figure.snip1436 .read-more:hover {
  background-color: $mainColor1;
  color: white;
}
figure.snip1436:hover img,
figure.snip1436.hover img {
  -webkit-animation: snip1436 0.45s linear forwards;
  animation: snip1436 0.45s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
figure.snip1436:hover figcaption,
figure.snip1436.hover figcaption {
  -webkit-transform: scale(1) translate(0, -50%);
  transform: scale(1) translate(0, -50%);
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
@-webkit-keyframes snip1436 {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateX(-150%);
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5;
  }
}
@keyframes snip1436 {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.8) translateX(-150%);
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5;
  }
}

/* text_row */
.text_row {
  width: 100vw;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  .text_inner {
    animation: textLoop 30s linear infinite;
    .text {
      display: inline-block;
      text-shadow: 3px 3px $mainColor3;
      letter-spacing: 5px;
      margin: 0 10px;
      font: {
        size: 3rem;
        weight: bold;
        family: "Abril Fatface", cursive;
      }
    }
  }
}
.text_row:hover > .text_inner {
  animation-play-state: paused;
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-start {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
