@charset "UTF-8";
/* 여백 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #222;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: "NEXON Lv1 Gothic OTF Light", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}

/* 버튼 초기화*/
button {
  border: 0;
}

/*반응형 이미지 */
img {
  width: 100%;
}

/* /////////////// header /////////////// */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: red;
  z-index: 999999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.navbar .navbar_logo {
  font-size: 24px;
  color: white;
}
.navbar .navbar_logo i {
  color: #d49466;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}
.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: none;
  padding-left: 0;
}
.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

/* /////////////// section1 /////////////// */
.section1 {
  width: 100%;
  height: 100vh;
  background: rgb(7, 76, 99);
}

/* /////////////// section2 /////////////// */
.section2 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: red;
}

.section2 .pin-wrap > div {
  min-width: 70vw;
}

/* /////////////// section3 /////////////// */
.section3 {
  width: 100%;
  height: 100vh;
  background: rgb(7, 76, 99);
}

/* /////////////// section4 /////////////// */
.section4 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(116, 48, 233);
}

.section4 .pin-wrap > div {
  min-width: 60vw;
}

/* /////////////// section5 /////////////// */
.section5 {
  width: 100%;
  height: 100vh;
  background: rgb(7, 76, 99);
}

/* /////////////// section6 /////////////// */
.section6 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section6 .pin-wrap > div {
  min-width: 60vw;
}

/* /////////////// section7 /////////////// */
.section7 {
  width: 100%;
  height: 100vh;
  background: rgb(41, 41, 41);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
.navbar_icons.active {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
